html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

header {
    background-color: #ecf0f1;
    padding: 15px 0;
}

main {
    padding: 15px 0;
}
main h2 {
    border-bottom: 1px solid #ecf0f1;
    padding-bottom: 10px;
    margin-bottom: 10px; 
}

main .intro,
main .userdocs-toc,
main .devdocs-toc {
    padding-bottom: 30px;
}
main .userdocs-toc ul,
main .devdocs-toc ul {
    list-style-type: none;
    padding: 0;
}

main pre {
    font-family: "courier new", courier, monospace;
    font-size: 0.8em;
}

footer {
    background-color: #ecf0f1;
    padding: 15px 0 30px 0;
    font-size: 0.8em;
}