{{ partial "header.html" . }}
<main> 
    <div class="container intro">
    {{ .Content }}
    </div>
    <div class="container userdocs-toc">
        <h2>User documentation</h2>
        <p>The following sections documents all the features that can be used
        with Qurl.</p>
        <ul>
        {{ range (where .Site.RegularPages "Section" "userdocs") }}
            <li>
                <h4><a href="{{ .URL }}">{{ .Title }}</a></h4>
                <p>{{ .Description }}</p>
            </li>
        {{ end }}
        </ul>
    </div>
 
    <div class="container devdocs-toc">
        <h2>Developer documentation</h2>
        <ul>
        {{ range (where .Site.RegularPages "Section" "devdocs") }}
            <li>
                <h4><a href="{{ .URL }}">{{ .Title }}</a></h4>
                <p>{{ .Description }}</p>
            </li>
        {{ end }}
        </ul>
    </div>
</main>
{{ partial "footer.html" . }}